<div class="mt-5">
  <h1 class="ml-5 my-courses">My Courses</h1>
</div>
<div class="container d-flex flex-wrap mt-5">
  <div class="m-3" *ngFor="let course of enrolledCourses; let i = index">
    <div class="card course-card shadow">
      <img
        src="https://img-c.udemycdn.com/course/240x135/4364396_6a81.jpg"
        class="card-img-top"
        alt="Card Image"
      />
      <div class="card-body">
        <h5 class="card-title">{{ course.courseName }}</h5>
        <p class="card-text" [innerHTML]="course.courseDescription"></p>
      </div>
      <div class="d-grid m-3">
        <button type="button" class="btn btn-dark">Enrolled</button>
      </div>
    </div>
  </div>
</div>
