<mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading">
</mat-progress-bar>
<div class="container mt-5">
  <div class="card ms-auto me-auto p-3 shadow-lg custom-card">
    <fa-icon [icon]="faUser" class="ms-auto me-auto user-icon"></fa-icon>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          formControlName="userName"
          required
        />
        <div
          class="alert-danger"
          *ngIf="
            !signupForm.get('userName')?.valid &&
            signupForm.get('userName')?.touched
          "
        >
          Username is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          formControlName="email"
          required
        />
        <div
          class="alert-danger"
          *ngIf="
            !signupForm.get('email')?.valid && signupForm.get('email')?.touched
          "
        >
          Username is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          formControlName="password"
        />
        <div
          class="alert-danger"
          *ngIf="
            !signupForm.get('password')?.valid &&
            signupForm.get('password')?.touched
          "
        >
          Password is required.
        </div>
      </div>

      <button type="submit" class="btn btn-danger w-100 mt-3">Sign Up</button>
    </form>

    <a [routerLink]="['/login']" class="btn btn-link" style="color: darkgray">
      I have an account!
    </a>
  </div>
</div>
