<mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading">
</mat-progress-bar>
<div class="container mt-5">
  <div class="card ms-auto me-auto p-3 shadow-lg custom-card">
    <fa-icon [icon]="faUser" class="ms-auto me-auto user-icon"></fa-icon>

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          formControlName="email"
          required
        />
        <div
          class="alert-danger"
          *ngIf="
            !forgetPasswordForm.get('email')?.valid &&
            forgetPasswordForm.get('email')?.touched
          "
        >
          Email is required.
        </div>
      </div>

      <button type="submit" class="btn btn-danger w-100 mt-3">
        Generate Token
      </button>
    </form>

    <a
      [routerLink]="['/resetPassword']"
      class="btn btn-link"
      style="color: darkgray"
    >
      Already Have Token ?
    </a>
  </div>
</div>
