
.course-card {
  width: 400px;
  height: 550px;
}

.card-title {
  font-size: 1.5em;
}

.star-icon {
  padding-left: 0px;
  color: #e59819;
}

.course-price {
  color: #a435f0;
  font-weight: 600;
  font-size: 14px;
}
