<mat-toolbar class="mat-elevation-z8 header-color">
  <a class="btn btn-lg" mat-button routerLink="/">TechDemy</a>
  <span class="example-spacer"></span>
  <a class="btn" mat-button routerLink="/login" *ngIf="!isLoggedIn">
    <mat-icon class="me-1">login</mat-icon>Login
  </a>
  <a class="btn" mat-button routerLink="/register" *ngIf="!isLoggedIn">
    <mat-icon class="me-1">person_add</mat-icon>Signup
  </a>
  <a class="btn" mat-button routerLink="/user" *ngIf="isLoggedIn">
    <mat-icon class="me-1">person</mat-icon> {{ username }}
  </a>
  <a
    class="btn"
    mat-button
    routerLink="/createPost"
    *ngIf="isLoggedIn && isAdmin"
  >
    <mat-icon class="me-1">add_circle</mat-icon>Create Post
  </a>

  <button class="btn" mat-button (click)="logOutUser()" *ngIf="isLoggedIn">
    <mat-icon class="me-1">logout</mat-icon>Logout
  </button>
</mat-toolbar>
