<div class="container d-flex flex-wrap mt-5">
  <div class="m-3" *ngFor="let course of courses; let i = index">
    <div class="card course-card shadow">
      <img
        src="https://img-c.udemycdn.com/course/240x135/4364396_6a81.jpg"
        class="card-img-top"
        alt="Card Image"
      />
      <div class="card-body">
        <h5 class="card-title">{{ course.courseName }}</h5>
        <p class="card-text" [innerHTML]="course.courseDescription"></p>
      </div>

      <div class="text-center mb-5">
        <button
          *ngIf="!course.addedToCart && !course.enrolled"
          type="button"
          class="btn btn-danger me-2"
          (click)="addToCart(+course.courseId)"
        >
          <fa-icon [icon]="faCartIcon" class="ms-auto me-auto"></fa-icon>
          Add To Cart
        </button>
        <button
          *ngIf="course.addedToCart"
          type="button"
          class="btn btn-danger me-2"
          (click)="removeFromCart(+course.courseId)"
        >
          <fa-icon [icon]="faCartIcon" class="ms-auto me-auto"></fa-icon>
          Remove From Cart
        </button>
        <button *ngIf="course.enrolled" type="button" class="btn btn-dark me-2">
          <fa-icon [icon]="faCheckIcon" class="ms-auto me-auto"></fa-icon>
          Enrolled
        </button>
        <button type="button" class="btn btn-danger ms-2">
          Price : {{ course.coursePrice.toString() | currency: "INR" }}
        </button>
      </div>
    </div>
  </div>
</div>
